<h1>New User</h1>

<form  action="/users" method="post">
  <label for="">Username: </label>
  <input type="text" name="user[username]">
  <label for="">Password: </label>
  <input type="password" name="user[password]">
  <button type="submit" value="Create" >Create user</button>
</form>
